openapi: 3.2.0
info:
  title: Venue Authority Facilities API
  version: '2026-08-21'
  description: Match a food-service merchant name and street address to a supported US regulator record and retain source-linked evidence. Inspect a public accepted and rejected example at https://venueauthority.com/portfolio-proof#example-report before creating an account. One valid authenticated resolver or canonical facility request consumes one prepaid unit, including a policy rejection. Exact replay is not charged twice.
  termsOfService: https://venueauthority.com/terms
  contact:
    name: Venue Authority support
    url: https://venueauthority.com/support
    email: support@venueauthority.com
servers:
- url: https://venueauthority.com
security:
- bearerAuth: []
tags:
- name: Facilities
paths:
  /api/v1/facilities/{id}:
    get:
      operationId: getFacility
      summary: Get one canonical regulator facility
      parameters:
      - $ref: '#/components/parameters/RequestId'
      - $ref: '#/components/parameters/FacilityId'
      responses:
        '200':
          description: Canonical facility and evidence receipt. Evidence retrieved for this request is labelled retrieved_on_demand. effectiveAt is null when the source does not provide a usable effective date.
        '404':
          description: The facility was not found.
          content:
            application/json:
              schema:
                type: object
                required:
                - error
                properties:
                  error:
                    type: string
                  requestId:
                    type: string
        '410':
          description: The source was withdrawn. No unit is debited.
          content:
            application/json:
              schema:
                type: object
                required:
                - error
                properties:
                  error:
                    type: string
                  requestId:
                    type: string
        '503':
          description: The serving snapshot or source approval is unavailable. No unit is debited.
          content:
            application/json:
              schema:
                type: object
                required:
                - error
                properties:
                  error:
                    type: string
                  requestId:
                    type: string
      tags:
      - Facilities
components:
  parameters:
    FacilityId:
      name: id
      in: path
      required: true
      schema:
        type: string
    RequestId:
      name: x-request-id
      in: header
      required: false
      description: Stable 8 to 128 character idempotency key. Same work replays without another debit; changed work returns 409.
      schema:
        type: string
        pattern: ^[A-Za-z0-9._:-]{8,128}$
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: VenueAuthorityKey
    sessionAuth:
      type: apiKey
      in: cookie
      name: __session
      description: Authenticated customer session.
externalDocs:
  description: Venue Authority API documentation
  url: https://venueauthority.com/developers
