openapi: 3.2.0
info:
  title: Venue Authority Coverage API
  version: '2026-08-21'
  description: Match a food-service merchant name and street address to a supported US regulator record and retain source-linked evidence. Inspect a public accepted and rejected example at https://venueauthority.com/portfolio-proof#example-report before creating an account. One valid authenticated resolver or canonical facility request consumes one prepaid unit, including a policy rejection. Exact replay is not charged twice.
  termsOfService: https://venueauthority.com/terms
  contact:
    name: Venue Authority support
    url: https://venueauthority.com/support
    email: support@venueauthority.com
servers:
- url: https://venueauthority.com
security:
- bearerAuth: []
tags:
- name: Coverage
  description: Read supported sources, record counts, availability, and freshness.
paths:
  /api/v1/coverage:
    get:
      operationId: getCoverage
      tags:
      - Coverage
      summary: Read supported source and freshness status
      security: []
      responses:
        '200':
          description: Coverage and freshness by jurisdiction.
        '410':
          description: A source was withdrawn. No source body is returned.
          content:
            application/json:
              schema:
                type: object
                required:
                - error
                properties:
                  error:
                    type: string
                  requestId:
                    type: string
        '503':
          description: Source approval or serving evidence is unavailable. No source body is returned.
          content:
            application/json:
              schema:
                type: object
                required:
                - error
                properties:
                  error:
                    type: string
                  requestId:
                    type: string
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: VenueAuthorityKey
    sessionAuth:
      type: apiKey
      in: cookie
      name: __session
      description: Authenticated customer session.
externalDocs:
  description: Venue Authority API documentation
  url: https://venueauthority.com/developers
